html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.navigation {
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

li {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-inline-size: 1100px;
    margin: auto;
    font: 19px 'Montserrat', serif;
    background-color: rgb(238, 238, 238);
    padding: 15px;
    box-sizing: border-box;
    transition: color 1s;
}

body.light-theme {
    background-color: rgb(238, 238, 238);
    ;
    color: #000000;
}

body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

body.dark-theme .name {
    color: white;
}

header {
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h2 {
    font-weight: bold;
    font-family: "Montserrat", serif;
}

.name {
    transition: color 1s;
    color: black;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-bottom: 40px;
}

footer {
    background-color: rgba(208, 208, 208, 0.631);
    border-radius: 30px;
    padding-block: 1.5rem;
    margin-top: auto;
}

footer .navigation {
    justify-content: center;
}

footer a {
    color: black;
}

a {
    text-decoration: none;
    color: #0083e1;
}

a:hover {
    color: #8c00ff;
    transition: color 0.5s;
}

img {
    margin-bottom: 20px;
    border-radius: 9px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.585);
}

.bi {
    font-size: 30px;
}

#themeToggle {
    background: transparent;
    border: 0;
    padding: 0;
    font-size: 21px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.5s, opacity 0.8s;
}

#themeToggle:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

#themeToggle:active {
    transform: scale(0.9);
}

@media (max-width: 768px) {
    body {
        font-size: 16px;
        padding: 10px;
    }

    main {
        display: flex !important;
        flex-direction: column !important;
        width: 100% !important;
    }

    aside {
        padding-bottom: 200px;
    }

    header {
        padding-block: 1rem;
    }

    header .navigation {
        flex-direction: column;
        gap: 8px;
    }

    footer {
        padding-block: 1rem;
        border-radius: 15px;
    }


    img {
        height: auto;
        width: 100%;
    }

    .animePhoto {
        display: flex;
        flex-direction: column;
    }

    .articlePhoto {
        display: flex;
        flex-direction: column;
    }

    .blocks {
        grid-template-columns: 1fr !important;
    }
}