.hobbies {
    padding: 0;
    margin: 0;
}

.hobbyPhoto {
    margin-bottom: 20px;
    border-radius: 9px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.585);
}

.animePhoto {
    display: flex;
    gap:5%;
}